<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCKyVN_eNpXO4RdMIr2g1H6sNTJ4wry9_o</string>
	<key>GCM_SENDER_ID</key>
	<string>843562716226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.demoApp</string>
	<key>PROJECT_ID</key>
	<string>flutter-ecommerce-a9c39</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-ecommerce-a9c39.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:843562716226:ios:afd28aeaf508bc0ec431db</string>
</dict>
</plist>